$background: rgb(255, 255, 255);
$background-alt: rgb(243, 244, 246);
$foreground: rgb(31, 41, 55);
$foreground-muted: rgb(75, 85, 99);
$primary: #0d6efd;
$primary-light: rgb(147, 197, 253);
$primary-dark: rgb(1, 76, 189);
$secondary: rgb(14, 165, 233);
$secondary-light: rgb(103, 232, 249);
$secondary-dark: rgb(3, 105, 161);
$card-bg: rgb(255, 255, 255);
$card-border: rgb(209, 213, 219);
$input-bg: rgb(255, 255, 255);
$input-border: rgb(156, 163, 175);
$header-bg: rgb(212, 212, 212);
$header-border: rgb(150, 150, 150);
$text-color: #000;
$shadow-color: rgba(0, 0, 0, 0.204);
